
.icon-folder:before { content: '\e800'; } /* '' */
.icon-folder-open:before { content: '\e801'; } /* '' */
.icon-magnet:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-bomb:before { content: '\f1e2'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-firefox:before { content: '\f269'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */